h1{

    font-family: "Montreal";
  
}
table{
  box-shadow: 2px 2px 2px 2px grey;
  background: #fff;
  border-radius: 10px;
  width: fit-content;
  height: fit-content;

  top: 50%;
  left: 50%;
  right: 50%;
  bottom: 50%;

  margin-top: 75px;
  margin-left: 600px;
  margin-right: 100px;
  margin-bottom: 150px;
}
th{
    text-align: center;
    padding: 15px;
    font-style: bold;
    
}
form{
  text-align: center;
}
