form{
    box-shadow: 2px 2px 2px 2px grey;
    background: #fff;
    border-radius: 10px;
    width: 350px;
    height:  220px;
  
    top: 50%;
    left: 75%;
    right: 75%;
    bottom: 75%;
  
    margin-top: 75px;
    margin-left: 790px;
    margin-right: 150px;
    margin-bottom: 150px;
  }
  input{
    border-radius: 5px;
  }
  h1{
    font-family: "Montreal";
    font-size: 100px;
  }
  form{
    text-align: center;
  }
  label{
    font-weight: bold;
  }