<div>

    <h1>About Us</h1>
    <br/>

    <p id="Introduction Part 1" size="large" style="text-align: center;">
      <q><i>Gender Based Violence are violent acts committed against women, men, boys or girls,</i><br/>
        <i>due to social norms about roles and behaviour of each gender (Nkoyane, 2022).</i></q>

    </p>
    <br/>
    <p id="Introduction Part 2" size="large" style="text-align: center;">
      There are many forms of Gender Based Violence.<br/>
      Gender Based Violence includes physical abuse, sexual violence, psychological abuse and economic abuse.<br/>

      However, victims of this kind of violence are often reluctant to come forward about the
      abuse they have experienced from their partner(s).<br/> Some victims do not come forward
      because they believe that no-one will believe them,<br/> some do not come forward
      because they do not have the emotional or physical strength to do so.<br/> Leaving the
      emotional wounds of Gender Based Violence untreated can fester and end up having
      life threating effects on the victim.<br/>
    </p>
    <br/>
    <p id="Introduction Part 3" size="large" style="text-align: center;">

    Gender Based Violence has been increasing in South Africa over the past 5 years, yet
    victims of abuse have not been getting help for their situation(s).
    <br/>
    Action Society has sounded the alarm on the large number of the gender-based
    violence cases in the Western Cape <a href="https://www.iol.co.za/capeargus/news/gbv-cases-in-the-western-cape-of-major-concern-with-more-than-400-recorded-in-a-year-734714c0-9a87-4fcf-9d4d-1599188b130c">(Thebus, 2022)</a>.<br/>
    Over 400 cases were transferred
    to the Social Development Departments GBV Command Centre in the province
    <a href="https://www.iol.co.za/capeargus/news/gbv-cases-in-the-western-cape-of-major-concern-with-more-than-400-recorded-in-a-year-734714c0-9a87-4fcf-9d4d-1599188b130c">(Thebus, 2022)</a>.<br/> Nolutho Menta, a Fieldworker stated, many people need support, but
    do not know where to go and then keep it to themselves, which is not assisting the
    victim or society <a href="https://www.news24.com/news24/community-newspaper/ud-news/women-and-girls-under-gender-based-siege-20220511">(Combrink, 2022)</a>.<br/>
    Getting help is very important for victims of Gender Based Violence.<br/> Getting help from
    the right people is also important as it can help the victim improve both their methal & physical health.<br/> 

    </p>
  
    <p id="Introduction Part 4" size="large" style="text-align: center;">
      <b>The purpose
      of Themba is to help connect victims of Gender Based Violence with government
      sponsored therapists, <br/> that will help them recover emotionally and psychologically from
      the abuse they have experienced.</b><br/>
    </p>
</div>
